.contents__main__center
  .contents__main__center__text
    レディース新着アイテム
  .contents__main__center__item
    - @items.each do|item|
      = link_to "items/detail/#{item.id}" do
        .contents__main__center__item__box
          .contents__main__center__item__box__image
          .contents__main__center__item__box__text
            .contents__main__center__item__box__text__product
              = item.name
            .contents__main__center__item__box__text__price
              = item.price
  .contents__main__center__all
    .contents__main__center__all__item
      .contents__main__center__all__item__box
        すべての商品を見る