
.contents-main__center
  .contents-main__text
    レディース新着アイテム
  .contents-item
    .contents-item__box
      .contents-image
        = image_tag "/assets/images1.jpeg", width:"213", height:"220", alt: "イメージ1"
      .contents-image__text
        .text-box
          スカート
        .text-box__price
          ¥ 30,000
    .contents-item__box
      .contents-image
        = image_tag "/assets/images2.jpeg", width:"213", height:"220", alt: "イメージ2"
      .contents-image__text
        .text-box
          コート
        .text-box__price
          ¥ 30,000
    .contents-item__box
      .contents-image
        = image_tag "/assets/images3.jpeg", width:"213", height:"220", alt: "イメージ3"
      .contents-image__text
        .text-box
          マフラー
        .text-box__price
          ¥ 30,000
    .contents-item__box
      .contents-image
        = image_tag "/assets/images4.jpeg", width:"213", height:"220", alt: "イメージ4"
      .contents-image__text
        .text-box
          ネックレス
        .text-box__price
          ¥ 30,000
  .contents-all
    .contents-all__item
      .contents-all__item__box
        すべての商品を見る