.top__contents__main__center
  .top__contents__main__center__text
    レディース新着アイテム
  .top__contents__main__center__item
    .top__contents__main__center__item__box
      .top__contents__main__center__item__box__image
        = image_tag "/assets/images1.jpeg", width:"213", height:"220", alt: "イメージ1"
      .top__contents__main__center__item__box__text
        .top__contents__main__center__item__box__text__product
          スカート
        .top__contents__main__center__item__box__text__price
          ¥ 30,000
    .top__contents__main__center__item__box
      .top__contents__main__center__item__box__image
        = image_tag "/assets/images2.jpeg", width:"213", height:"220", alt: "イメージ2"
      .top__contents__main__center__item__box__text
        .top__contents__main__center__item__box__text__product
          コート
        .top__contents__main__center__item__box__text__price
          ¥ 30,000
    .top__contents__main__center__item__box
      .top__contents__main__center__item__box__image
        = image_tag "/assets/images3.jpeg", width:"213", height:"220", alt: "イメージ3"
      .top__contents__main__center__item__box__text
        .top__contents__main__center__item__box__text__product
          マフラー
        .top__contents__main__center__item__box__text__price
          ¥ 30,000
    .top__contents__main__center__item__box
      .top__contents__main__center__item__box__image
        = image_tag "/assets/images4.jpeg", width:"213", height:"220", alt: "イメージ4"
      .top__contents__main__center__item__box__text
        .top__contents__main__center__item__box__text__product
          ネックレス
        .top__contents__main__center__item__box__text__price
          ¥ 30,000
  .top__contents__main__center__all
    .top__contents__main__center__all__item
      .top__contents__main__center__all__item__box
        すべての商品を見る