.ragistration-html
  .ragistration-body
    .ragistration-all
      .ragistration-all__container
        / ヘッダー部分
        %header.ragistration-all__header
          %h1.ragistration-all__header--h1
            %a{:href => "#"}
              = image_tag "mercari2.png"
          %nav.ragistration-all__bar
            %ol.ragistration-all__bar--ol
              %li.ragistration-all__bar--through
                会員情報
                .progress-status
              %li.ragistration-all__bar--through-through
                電話番号認証
                .progress-status
              %li.ragistration-all__bar--through-through
                お届け先住所入力
                .progress-status
              %li.ragistration-all__bar--through-through
                支払い方法
                .progress-status
              %li.ragistration-all__bar--active-last
                完了
                .progress-status
        / メイン部分
        %main.ragistration-all__main
          %section.ragistration-all__main-container
            %h2.ragistration-all__chapter-head 会員登録完了
            %form.ragistration-all__inner{:action => "/users/top"}
              .ragistration-all__content
                %p.sucsess
                  ありがとうございます。
                  %br
                  会員登録が完了しました。
                %button.ragistration-all__btn-red{:type => "submit"}
                  メルカリをはじめる

        / フッター部分
        = render 'users/footer'