.mainbody
  .headerform
  -# renderする予定
  .pankuzu
  -# renderする予定
  .main
    .main__contents
      .main__contents__content
        .main__contents__content__form
          .main__contents__content__form--btn ログアウト
    .main__side
    -# renderする予定
  %aside.app-banner
    .app-banner-pc
  .footer
  -# renderする予定
