%body
  .headerform
  -# renderする予定
  .pankuzu
  -# renderする予定
  .main
    .contents
      .content
        .content__form
          .content__form-btn ログアウト
    .side
    -# renderする予定
  %aside.app-banner
    .app-banner-pc
  .footer
  -# renderする予定
