.html
  .body
    .single-container
      / ヘッダー部分
      %header.single-header
        %h1
          %a{:href => "#"}
            = image_tag "mercari2.png"
        %nav.progress-bar
          %ol.clearfix
            %li.through
              会員情報
              .progress-status
            %li.through
              電話番号認証
              .progress-status
            %li.active
              お届け先住所入力
              .progress-status
            %li
              支払い方法
              .progress-status
            %li
              完了
              .progress-status
      / メイン部分
      %main.single-main
        %section.I-single-container
          %h2.I-chapter-head.registration 住所入力
          %form.I-single-inner.registration-form
            .I-single-content
              .form-group
                %div
                  %label お名前(全角)
                  %span.form-require 必須
                %input.input-default.half{:placeholder => "例）山田", :type => "text"}/
                %input.input-default.half{:placeholder => "例）彩", :type => "text"}/
              .form-group
                %div
                  %label お名前カナ(全角)
                  %span.form-require 必須
                %input.input-default.half{:placeholder => "例）ヤマダ", :type => "text"}/
                %input.input-default.half{:placeholder => "例）アヤ", :type => "text"}/
              .form-group
                %label{:for => "zip-code"} 郵便番号
                %span.form-require 必須
                %input.input-default{:placeholder => "例）123-4567", :type => "text"}/
              .form-group
                %label{:for => "state"} 都道府県
                %span.form-require 必須
                %select.state.select-default
                  %option{:value => "北海道"} 北海道
                  %option{:value => "青森"} 青森
              .form-group
                %label{:for => "city"} 市区町村
                %span.form-require 必須
                %input.input-default{:placeholder => "例）横浜市緑区", :type => "text"}/
              .form-group
                %label{:for => "street-num"} 番地
                %span.form-require 必須
                %input.input-default{:placeholder => "例）青山1-1-1", :type => "text"}/
              .form-group
                %label{:for => "buil"} 建物名
                %span.form-require.gray 任意
                %input.input-default{:placeholder => "例）柳ビル103", :type => "text"}/
              .form-group
                %label{:for => "tel"} 電話
                %span.form-require.gray 任意
                %input.input-default{:placeholder => "例）09012345678", :type => "tel"}/
              %button.btn-default.btn-red{:type => "submit"}
                次へ進む

      / フッター部分
      = render 'users/footer'