.new-user-top
  .new-user-top__container

    -# ヘッダー部分
    %header.new-user-top-header
      %h1.new-user-top-header__logo
        %a.new-user-top-header__logo__link{ href: "#" }
          = image_tag "mercariLogo.svg"
    
    -# メイン部分
    %main.new-user-top-main
      %section.new-user-top-main-container
        %h2.new-user-top-main-logo
          新規会員登録


        .new-user-top-main-inners
          .new-user-top-main-inners__inner
            %a.new-user-top-main-inners__inner--btn-mail{ href: "/users/first" }
              %i.fa.fa-envelope
              メールアドレスで登録する
            %button.new-user-top-main-inners__inner__btn-sns
              %i.fab.fa-facebook-square
              Facebookで登録する
            %button.new-user-top-main-inners__inner__btn-sns-google
              = image_tag "googleLogo.jpg"
              Googleで登録する
    
    -# フッター部分
    = render 'users/footer'