.new-user-top
  .new-user-top__container

    -# ヘッダー部分
    %header.new-user-top-header
      %h1.new-user-top-header__logo
        %a.new-user-top-header__logo__link{ href: "#" }
          = image_tag "mercariLogo.svg"
    
    -# メイン部分
    %main.new-user-top-main
      %section.new-user-top-main-container
        %h2.new-user-top-main-logo
          新規会員登録


        .new-user-top-main-inners
          .new-user-top-main-inners__inner
            %a.new-user-top-main__inner__btn-default--btn-mail
              メールアドレスで登録する
            %button.new-user-top-main__inner__btn-default--btn-sns--btn-sns-facebook
              Facebookで登録する
            %button.new-user-top-main__inner__btn-default--btn-sns--btn-sns-google
              Googleで登録する
    
    -# フッター部分
    %footer.new-user-top-footer
      %nav.new-user-top-nav
        %ul.new-user-top-nav__lists
          %li.new-user-top-nav__lists--list
            %a.new-user-top-nav__lists--list--link{ href: "#" }
              プライバシーポリシー
          %li.new-user-top-nav__lists--list
            %a.new-user-top-nav__lists--list--link{ href: "#" }
              メルカリ利用規約
          %li.new-user-top-nav__lists--list
            %a.new-user-top-nav__lists--list--link{ href: "#" }
              特定商取引に関する表記
      
      %a.new-user-top-footer__logo{ href: "#" }
        = image_tag "mercariLogoGray.svg", alt: "mercari", class: "new-user-top-footer__logo__img"
      
      %p.new-user-top-footer__logo__under-logo
        %small © 2019 Mercari