%div.new-user-top
  %div.header
    %a(href="#")
      %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3162063836" alt="mercari")/
  %div.main
    %div.main__title
      新規会員登録
    %div.main__registration-links
      %a(href="#")
        %button.email
          メールアドレスで登録
      %a(href="#")
        %button.facebook
          Facebookで登録
      %a(href="#")
        %button.google
          Googleで登録
  %div.footer
    %div.footer__raw-list
      %ul
        %li
          %a(href="#")
            プライバシーポリシー
        %li
          %a(href="#")
            メルカリ利用規約
        %li
          %a(href="#")
            特定商取引に関する表記
    %a(href="#")
      %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3162063836" alt="mercari" width="80" height="65")/
    %p
      %small © 2019 Mercari