.pankuzu
  %ul
    %li{itemscope: "", itemtype:"http://data-vocabulary.org/Breadcrumb"}
      %a{href: "https://www.mercari.com/jp/", itemprop: "url"}
        %span{itemprop: "title"} メルカリ
      %i.fa.fa-chevron-right
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %span{itemprop: "title"} マイページ