.pankuzu
  %ul
    %li{itemscope: "", itemtype:"http://data-vocabulary.org/Breadcrumb"}
      =link_to "メルカリ", "https://www.mercari.com/jp/", itemprop: "url"
      %i.fa.fa-chevron-right
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %span{itemprop: "title"} マイページ