.registration-all__content
  .registration-all__form-group
    .g-recaptcha.signup-recaptcha
      %div.recaptcha-form
        %div
          %iframe.recaptcha-frame{frameborder: :"0",  name: :"a-mkmk6jkic1h2", role: :"presentation", sandbox: :"allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation", scrolling: :"no", src: :"https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1563777128698&size=normal&cb=i3am7gn33cqe"}
          %textarea#g-recaptcha-response.g-recaptcha-response