.header
  .header-inner
    .header-top
      %a{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", :width => "134"}/
    .form
      %form.pc-header-form{:action => "https://www.mercari.com/jp/search/"}
        %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %i.icon-search
    .header-navbox
      .header-under
        .left-side
          %h2
          %a.pc-header-nav-root.list-parent{:href => "https://www.mercari.com/jp/category/"}
            %i.icon-list.pc-header-cat-brand-icon
            %span カテゴリーから探す
        .right-side
          %h2
          %a.pc-header-nav-root.list-parent{:href => "https://www.mercari.com/jp/brand/"}
            %i.icon-tag.pc-header-cat-brand-icon
            %span ブランドから探す
          %ul.pc-header-nav-parent-wrap