.pankuzu {
  border-top: 1px solid #eee;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  height: 49px;
  font-size: 14px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background-color: #ffffff;
  position:relative;
  ul {
    margin: 0 auto;
    padding: 16px 0;
    width: 1020px;
    li {
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      a {
        text-decoration: none;
        color: #333333;
      }
      a:visited {
        color: #333333;
      }
      a:hover{
        text-decoration: underline;
      }
      span:last-child{
        font-weight: 600;
      }
    }
  }
}