.pc-header {
  position: relative;
  background-color: white;
  display: block;
  a {
    text-decoration: none;
  }
  .pc-header-inner{
    width: 1020px;
    height: 100px;
    margin: 0 auto;
    padding: 8px 0 0;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    color: black;
    .pc-header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pc-header-form{ 
        position: relative;
        margin-left: 45px;
        width: 100%;
        .input-default{
          background: #f5f5f5;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          width: 100%;
          height: 40px;
        }
        .icon-search {
          position: absolute;
          top: 0;
          right: 0;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
        }
      }
    }
    .pc-header-nav-box {
      margin: 8px 0 0;
      padding: 0;
      a {
        display: block;
        color: #333;
        .pc-header-cat-brand-icon {
          color: #ea352d;
          font-size: 12px;
          margin-right: 4px;
        }
      }
      .l-left{
        float: left;
        .pc-header-nav{
          font-size: 0;
          font-size: 14px;
          font-weight: 400;
          li {
          position: relative;
          display: inline-block;
          padding: 0 11px;
          cursor: pointer;
          }
          .pc-header-nav-root {
            font-weight: bold;
            position: relative;
            height: 44px;
            line-height: 32px;
            i{
              font-family: 'icon-font';
              .pc-header-cat-brand-icon {
                color: #ea352d;
                font-size: 12px;
                margin-right: 4px;
              }
            }
          }
        }
      }
      .l-right {
        .pc-header-login-nav{
          float: right;
          li {
            display: inline-block;
            margin: 0 0 0 8px;
          }
          .btn-red {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
          }
          .header-login {
            display: block;
            border: 1px solid #0099e8;
            background: #fff;
            color: #0099e8;
          }
          .sp-header-btn {
            padding: 0 10px;
            line-height: 30px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}