.top-header {
  height: 100px;
  position: relative;
  background-color: white;
  display: block;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  height: 100px;
  a {
    text-decoration: none;
  }
  a:hover {
    color: #0099e8;
  }
  #category-nav-parent {
    width: 224px;
  }
    &__inner{
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--form{ 
        position: relative;
        margin-left: 45px;
        width: 100%;
        .input-default{
          background: #f5f5f5;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          width: 100%;
          height: 40px;
          border: 1px solid #ccc;
          line-height: 1.5;
        }
        .fa-search {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
    }
    &__nav {
      height: 36px;
      margin: 8px 0 0;
      padding: 0;
      a {
        display: block;
        color: #333;
        .top-header-cat-brand-icon {
          color: $exhibition-red;
          font-size: 12px;
          margin-right: 4px;
        }
      }
      .top-navbar-left {
        float: left;
        &__wrapper {
          font-size: 0;
          font-size: 14px;
          font-weight: 400;
          padding: 0 10px 0 0;
          li {
            position: relative;
            display: inline-block;
            cursor: pointer;
            padding: 0 10px 0 0;
          }
          &--list__category, &--list__brand {
            font-weight: bold;
            position: relative;
            height: 44px;
            line-height: 32px;
            .fas {
              color: $exhibition-red;
              font-size: 12px;
              margin-right: 4px;
            }
          }
        }
        &__category {
          &__parent {
            // display: none;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            list-style: none;
            font-size: 14px;
            width: 224px;
            z-index: 2;
            position: absolute;
            .parent-category-list {
              line-height: 44px;
              h2 {
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                padding: 0px 16px;
              }
              h2:hover {
                color: white;
                background-color: #ea352d;
              }
            }
          }
          &__children {
            // display: none;
            list-style: none;
            background-color: rgb(255, 255, 255);
            bottom: 0px;
            top: 0px;
            box-shadow: 1px 0 0 0 #eee inset;
            left: 224px;
            position: absolute;
            width: 224px;
            font-size: 14px;
            .children-category-list {
              h2 {
                display: block;
                padding: 8px 16px;
              }
              h2:hover {
                display: block;
                background-color: rgb(245, 245, 245);
              }
            }
          }
          &__grandchildren {
            // display: none;
            list-style: none;
            background-color: rgb(255, 255, 255);
            bottom: 0px;
            box-shadow: 1px 0 0 0 #eee inset;
            left: 448px;
            position: absolute;
            top: 0px;
            width: 320px;
            h2 {
              padding: 8px 16px;
            }
            h2:hover {
              background-color: rgb(245, 245, 245);
            }
          }
        }
        &__brand {
          display: none;
          list-style: none;
          font-size: 14px;
          z-index: 2;
          background-color: rgb(255, 255, 255);
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          position: absolute;
          .brand-list {
            line-height: 44px;
            padding: 0;
            width: 224px;
            h2 {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: 0px 16px;
            }
            h2:hover {
              color: white;
              background-color: #ea352d;
            }
          }
        }
      }
      .top-navbar-right {
        &__notice {
          height: 32px;
          color: #333;
          font-size: 14px;
          padding: 0px 14px 0 0;
        }
        &__todolist {
          height: 32px;
          font-size: 14px;
          color: #333;
          padding: 0px 14px 0 0;
        }
        &__mypage {
          height: 32px;
          font-size: 14px;
          color: #333;
        }
        img {
          vertical-align: middle;
          border-radius: 50%;
          overflow: hidden;
        }
        float: right;
        font-size: 15px;
        li {
          display: inline-block;
          margin: 0 0 0 8px;
        }
        .fa.fa-bell {
          color: #ccc;
        }
        .fa.fa-check {
          color: #ccc;
        }
        .btn-red {
          background: $exhibition-red;
          border: 1px solid $exhibition-red;
          color: #fff;
          padding: 0 10px;
          line-height: 30px;
          border-radius: 4px;
          text-align: center;
        }
        .nav-btn {
          padding: 0 10px;
          line-height: 30px;
          border-radius: 4px;
          text-align: center;
        }
        &__login {
          display: block;
          border: 1px solid #0099e8;
          background: #fff;
          color: #0099e8;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all  0.5s ease;
        }
        .nav-btn:hover {
          background-color: #0099e8;
          color: white;
        }
      }
    }
  }
}