.zentai {
  margin: 0 auto;
  padding: 40px 210px 0;
  width: 1020px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  background-color: #f5f5f5;
  color: #333333;
  &__identification {
    float: right;
    width: 700px;
    background: #fff;
    &__header {
      font-size: 14px;
      &__head {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        font-weight: bold;
        line-height: 1.4;
      }
      &__inner {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        p {
          font-weight: normal;
          margin: 8px 0 0;
        }
        .text-right {
          text-align: right;
          .fa.fa-chevron-right {
            color: #0099e8;
          }
          a {
            text-decoration:none;
            color: #0099e8;
          }
          a:hover {
            text-decoration:underline;
            opacity: 0.75;
          }
        }
      }
      &__form-group {
        margin: 40px 0 0;
        font-weight: bold;
        .form-arbitrary {
          background: #ccc;    margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        .input-default {
          box-sizing:border-box;
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          font-weight: normal;
        }
        &__wrap {
          position: relative;
          .select-default {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            font-weight: normal;
          }
          .fa.fa-chevron-down {
          position: absolute;
          right: 16px;
          top: 40%;
          z-index: 2;
          color: #888;
          font-size: 16px;
          }
        }
      }
      .btn-default.btn-red {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        margin: 40px 0 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
    
      }
    }
  }
}