%footer.new-item-page__footer
  %nav.new-item-page__footer__nav
    %ul.lists
      %li.lists--list
        = link_to "プライバシーポリシー", "/", class: "lists--list--link"
      %li.lists--list
        = link_to "メルカリ利用規約", "/", class: "lists--list--link"
      %li.lists--list
        = link_to "特定商取引に関する表記", "/", class: "lists--list--link"
  %a.new-item-page__footer__logo{ href: "#" }
    = image_tag "mercariLogoGray.svg", alt: "mercari", class: "new-item-footer__logo__img"
  %p.new-item-page__footer__trademark
    %small © 2019 Mercari