%body.main-body
  .main
    .header-form
      -# 佐々木くんがマークアップ中
    %nav.pankuzu
      -# 池田さんがマークアップ中
    %section.item-box
      %h1.item-box__item-name 商品名
      .item-box__item-main
      .item-box__item-price ¥ 26,000 (税込) 送料込み
      .item-box__item-btn 購入画面に進む
      .item-box__item-description
        %p.item-box__item-description--text
          ご覧いただきありがとうございます。
          極美品 オールドコーチ 0502 レザー 2way 大型ボストンバッグ D818の出品です♪
          /
          【ブランド】
          COACH/コーチ
          /
          【コンディション】
          若干の擦れはございますが全体的にかなり綺麗な状態です(*^^*)
          詳細は画像にてご確認ください。
          /
          【サイズ】
          縦横 約24cm×54cm
          マチ 約23cm
          持ち手 約10cm
          ショルダー 約35cm
          ※記載している持ち手(ショルダー)の長さは
          バッグ上部から持ち手(ショルダー)のトップまでの長さを測っております。
          /
          【重さ】
          約1638g
          /
          【カラー】
          ブラウン
          /
          【素材】
          レザー
          /
          【付属品】
          画像のもので全てになります。
          /
          /
          【梱包、配送について】
          梱包はプチプチに包みダンボール、
          または簡易梱包資材に入れての発送になります。
          厳重に梱包しますので破損の心配は不要です(^^)
          全国送料無料です。
          /
          ☆ご購入前にはプロフィールに目を通していただきますよう
          お願い致します(^^)/ 
          /
          1.2#bag#ブランドバッグ#レディース#バッグ#カバン#ファッション#ハンドバッグ #ショルダーバッグ
      .item-box__item-icon
        .item-box__item-icon--left
          %button.item-box__item-icon--link いいね
          %button.item-box__item-icon--report 不適切な商品の報告
        .item-box__item-icon--right
          %i.fa.fa-lock.fa-lg
          =link_to 'あんしん・あんぜんへの取り組み', "/items/detail"
    .detail-message
      .message-content
    %ul.item-link
      %li.item-link__previous
      %li.item-link__next
    .media-box
      .media-text
      %ul.media-icon
    .user-item
      %section.user-item-box
      %section.user-item-box
    %aside.app-banner
    .footer