.new-item-page
  %header.new-item-page__header
    -# TODO:ヘッダーは部分テンプレートを利用

  .new-item-page__main
    %section.container
      %h2.container__head
        .container__head__title 商品の情報を入力
      -# Itemモデル作成後、form_for or form_withで実装


  %footer.new-item-page__footer
    -#  TODO:フッターは部分テンプレートを使用
