.new-item-page
  %header.new-item-page__header
    -# TODO:ヘッダーは部分テンプレートを利用

  .new-item-page__main
    %section.container
      %h2.container__head
        .container__head__title 商品の情報を入力
      -# Itemモデル作成後、form_for or form_withで実装

      .container__form
        .container__form__content.upload-images
          %label.upload-images__label
            出品画像
            %span.form-require 
              必須
          .upload-images__addition
            最大10枚までアップロードできます
          .upload-images__container
            -# TODO:jQueryで複数枚アップロード機能実装？(have-itemに変数でNoを設定)
            .upload-images__container__box.have-item
              %input.upload-images__container__box--drop-file{type: "file", name: "image", style: "display: none;", multiple: true}
              %pre.input.upload-images__container--text
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード

        .container__form__content.item-about.clearfix
          .form-group
            %label.item-about__name 
              商品名
              %span.form-require 
                必須
            %input.item-about__name--input{type: "text", placeholder: "商品名（必須 40文字まで)"}
          .form-group
            %label.item-about__description 
              商品の説明
              %span.form-require 
                必須
            %textarea.item-about__description--input{placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
        
        .container__form__content.item-detail.clearfix
          .item-detail__title.form-sub-title 商品の詳細
          .item-detail__right-box.form-right-box
            .form-group
              %label.item-detail__category 
                カテゴリー
                %span.form-require 必須
              .select-wrap
                %i.fas.fa-angle-down
                %select.select-wrap__input
                  %option{value: ""} ---
            .form-group
              %label.item-detail__state 
                商品の状態
                %span.form-require 必須
              .select-wrap
                %i.fas.fa-angle-down
                %select.select-wrap__input
                  %option{value: ""} ---
        
        .container__form__content.delivery-setting.clearfix
          .delivery-setting__title.form-sub-title 配送について
          .delivery-setting__rightbox.form-right-box
            .form-group
              %label.delivery-setting__burden
                配送料の負担
                %span.form-require 
                  必須
              .select-wrap
                %i.fas.fa-angle-down
                %select.select-wrap__input
                  %option{value: ""} ---
            .form-group
              %label.delivery-setting__region
                発送元の地域
                %span.form-require 
                  必須
              .select-wrap
                %i.fas.fa-angle-down
                %select.select-wrap__input
                  %option{value: ""} ---
            .form-group
              %label.delivery-setting__days
                発送までの日数
                %span.form-require 
                  必須
              .select-wrap
                %i.fas.fa-angle-down
                %select.select-wrap__input
                  %option{value: ""} ---

        .container__form__content.selling-item.clearfix
          .selling-item__title.form-sub-title
            販売価格(300〜9,999,999)
          %ul.selling-item__right-box.form-right-box
            %li.form-group.selling-item__price
              .selling-item__price__inner-left
                %label.selling-item__price--setting
                  価格
                  %span.form-require 
                    必須
              .selling-item__price__inner-right
                ¥
                .selling-item__price__inner-right--input
                  %input{placeholder: "例)  300", value: ""}
            %li.selling-item__fee.clearfix
              %p 販売手数料(10%)
              %p -
            %li.selling-item__profit.clearfix
              %p.selling-item__profit--title 販売利益
              %p.selling-item__profit--result -

  %footer.new-item-page__footer
    -#  TODO:フッターは部分テンプレートを使用
