.new-item-page
  %header.new-item-page__header
    -# TODO:ヘッダーは部分テンプレートを利用

  .new-item-page__main
    %section.container
      %h2.container__head
        .container__head__title 商品の情報を入力
      -# Itemモデル作成後、form_for or form_withで実装

      .container__form
        .container__form__content.upload-images
          %label.upload-images__label
            出品画像
            %span.form-require 
              必須
          .upload-images__addition
            最大10枚までアップロードできます
          .upload-images__container
            -# TODO:jQueryで複数枚アップロード機能実装？(have-itemに変数でNoを設定)
            .upload-images__container__box.have-item
              %input.upload-images__container__box--drop-file{type: "file", name: "image", style: "display: none;", multiple: true}
              %pre.input.upload-images__container--text
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード

  %footer.new-item-page__footer
    -#  TODO:フッターは部分テンプレートを使用
