// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainbody{
  position: relative;
  height: 100%;
  font-size: 14px;
  color: black;
  line-height: 1;
  background:rgb(245, 245, 245);
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  * {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }  
  .headerform{
    position: relative;
    background: grey;
    width: 100%;
    height: 100px;
    background: #fff;
  }
  .pankuzu{
    position: relative;
    border-top: 1px solid #eee;
    background: grey;
    width: 100%;
    height: 50px;
    background: #fff;
  }
  .main{
    margin: 40px auto 0;
    padding: 0 0 40px;
    display: block;
    width: 1020px;
    height: 100%;
    min-width: 1068px;
    &__contents{
      width: 725px;
      height: 180px;
      background-color: white;
      float: right;
      &__content {
        padding: 63px 85px 63px 63px;
        margin: 0px;
      &__form{
        border-top: 1px solid #f5f5f5;
        height: 51px;
        max-width: 320px;
        margin: 0 auto;
        cursor: pointer;
        line-height: 48px;
        &--btn{
          text-align: center;
          font-size: 14px;
          background: red;
          border: 1px solid red;
          color: white;
          width: 320px;
          height: 50px;
        }
        }
      }
    }
    .side{
      background: #fff;
      float: left;
      width: 280px;
      margin: 0 0 0 24px;
    }
  }

  .app-banner{
    background-image: url("/jp/assets/img/common/jp/top/download_bg_pc.jpg?72295318)");
    background-position: center;
    background-size: cover;
    background: grey;
      .app-banner-pc{
        overflow: hidden;
        position: relative;
        display: block;
        width: 750px;
        height: 260px;
        margin: 0 auto;
      }
  }

  .footer{
    background: #212121;
    color: #fff;
  }
}