@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin flexBoxForForm {
  display: flex;
  justify-content: space-between; 
  position: relative;
}

@mixin formRequire {
  background-color: $exhibition-red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  vertical-align: top;
}

@mixin formBorderSetting {
  border: 1px solid #ccc;
}

@mixin formSelectWrap {
  margin: 8px 0 0;
  position: relative;
  background-color: #fff;
}

@mixin formSelectBox {
  height: 48px;
  padding: 0 16px;
  background: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin formSelectBoxArrowIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 30px;
  transform: translate(0, -50%);
  display: inline-block;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// for users-page
@mixin all-reset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-size: inherit;
  line-height: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}

@mixin contents-reset {
  height: 100%;
  display: block;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  color: #333;
  line-height: 1;
}

@mixin user-all-reset {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
  width: 100%;
}

@mixin before-after{
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
  text-decoration: inherit;
  vertical-align: inherit;
}

@mixin a {
  color: #0099e8;
  text-decoration: none;
}

@mixin img {
  vertical-align: middle;
}

@mixin h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 22px;
}

@mixin main {
  display: block;
}

@mixin label {
  display: inline-block;
}

@mixin input {
  border: 0;
  outline: 0;
  font-family: inherit;
  display: inline-block;
  text-align: start;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  background-color: transparent;
}

@mixin button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  background-color: transparent;
}

@mixin li {
  margin-right: 40px;
  min-width: 60px;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
  color: #888;
}

@mixin progress-status {
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ccc;
  border-radius: 50%;
}

@mixin prog-before-after {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #ccc;
}

@mixin exhibit-error-message {
  color: $exhibition-red;
  line-height: 1.5;
  font-size: 14px;
  margin: 8px 0 0;
}

@mixin birthday-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  width: 76px;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

@mixin birthday-chevron-down {
  position: absolute;
  top: 20px;
  color: #353535;
}