@import "variables";

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin flexBoxForForm {
  display: flex;
  justify-content: space-between; 
  position: relative;
}

@mixin formRequire {
  background-color: $exhibition-red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  vertical-align: top;
}

@mixin formBorderSetting {
  border: 1px solid #ccc;
}

@mixin formSelectWrap {
  margin: 8px 0 0;
  position: relative;
  background-color: #fff;
}

@mixin formSelectBox {
  height: 48px;
  padding: 0 16px;
  background: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin formSelectBoxArrowIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 30px;
  transform: translate(0, -50%);
  display: inline-block;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

