.bread-crumbs {
  height: 49px;
  width: 100%;
  font-size: 14px;
  ul {
    margin: 0 210px;
    padding: 16px 0;
    li {
      display: inline;
    }
  }
  
}
.l-container {
  background-color: black;
  height: calc(100vh - 49px);
  width: 100%;
}